header {
  border-bottom: 1px solid var(--border-dark-gray);
  padding: 0.4rem 0 0.4rem 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.outletContainer {
  flex-grow: 1;
  background-color: var(--primary-gray);
}
